<div class="modal-header bg-primary text-white">
    <div>
        <!-- <h3 class="modal-title">{{task.name | titlecase}}</h3> -->
        <div>
            <h3 class="d-inline m-0 mr-2" *ngIf="!editingTask; else taskEdit">
                {{task.name | titlecase}}<a (click)="editingTask = true" class="h5 bi bi-pen-fill m-0 ml-2"></a>
            </h3>
            <ng-template #taskEdit>

                <form (ngSubmit)="editTask()">
                    <div class="row">
                        <input type="text" class="text-white font-weight-bold bg-primary col form-control ml-2" id="editTaskName" autocomplete="off"
                            name="editTaskName" [(ngModel)]="editingTaskTitle">
                        <button type="submit" class="btn btn-light pt-0 pb-0 pr-2 pl-2 ml-1"
                            [ngClass]="{'disabled': !task.name}">
                            <i class="bi bi-pen-fill p-0 m-0"></i>
                        </button>
                    </div>
                </form>
            </ng-template>
        </div>
        <h5 class="">Lista -> {{task.taskList?.name | titlecase}}</h5>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body row">
    <div class="col">
        <div>
            <h5 class="font-weight-bold"><i class="h4 bi bi-card-text mr-2"></i>Descripción</h5>
            <p>{{task.description}}</p>
            <a class="list-group-item list-group-item-action">
                No hay ninguna descripción
              </a>
        </div>
    
        <div>
            <h5 class="font-weight-bold"><i class="h4 bi bi-card-image mr-2"></i>Ficheros</h5>
            <p class="text-muted" *ngIf="!files || files.length === 0">No hay ficheros subidos</p>
            <div *ngFor="let file of files" class="list-group m-2 mt-3">
                <file [file]="file"></file>
            </div>
        </div>
    
        <div>
            <h5 class="font-weight-bold"><i class="h4 bi bi-chat-left-dots mr-2"></i>Comentarios</h5>
            <form (ngSubmit)="addComment()">
                <div class="form-group">
                    <input type="text" class="form-control" id="newCommentText" name="newCommentText" placeholder="Escribe un comentario" (blur)="onFocusCommentForm()" (focus)="onFocusCommentForm()" [(ngModel)]="newComment.text">
                    <button type="submit" class="btn btn-primary mt-2" [disabled]="!newComment.text">Add</button>   
                </div>
                         
            </form>
            
            
            <div *ngFor="let comment of comments" class="list-group m-2 mt-3">
                <comment [comment]="comment"></comment>
            </div>
            
        </div>
    </div>
    <div class="col-3">
        <button class="btn btn-outline-primary mb-2">Check List</button>
        <button class="btn btn-outline-danger mb-2">Eliminar tarea</button>
    </div>
    

</div>