<form>
  <div class="form-group row">
    <div class="col-2">
      <label for="text3" class="form-label">Nombre</label>
      <input id="text3" name="text3" type="text" class="form-control">
    </div>

    <div class="col-3">
      <label for="text4" class="form-label">Apellidos</label>
      <input id="text4" name="text4" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">

    <div class="col-5">
      <label for="text1" class="form-label">Usuario</label>
      <input id="text1" name="text1" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">

    <div class="col-5">
      <label for="text2" class="form-label">Contraseña</label>
      <input id="text2" name="text2" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">

    <div class="col-5">
      <label for="text" class="form-label">Correo</label>
      <input id="text" name="text" placeholder="xxx@xxx.xxx" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-5">
      <button name="submit" type="submit" class="btn btn-primary">Registrarse</button>
    </div>
  </div>
</form>
