<div>
  <button class="list-group-item list-group-item-action border-0" type="button" data-toggle="collapse"  [attr.data-target]="'#' + identifier" aria-expanded="false" aria-controls="collapseExample" (click)="toggleFlag()">
    {{team.name}}
    <i class="bi col-1" [ngClass]="{'bi-caret-left-fill': expanded === false, 'bi-caret-down-fill': expanded === true}"></i>
    <!-- <i class="bi bi-caret-down-fill col-1"></i> -->
  </button>
  <div class="collapse" id="{{identifier}}">
    <a class="list-group-item list-group-item-action border-0" (click)="openAddProjectModal()">
      <div class="row"><div class="col-1"></div><i class="bi bi-info-circle-fill col-1"></i><span class="col">Nuevo Projecto</span></div>
    </a>
    <a class="list-group-item list-group-item-action border-0" (click)="openAddUserModal()">
      <div class="row"><div class="col-1"></div><i class="bi bi-people-fill col-1"></i><span class="col">Añadir Miembro</span></div>
    </a>
    <!-- <a href="#" class="list-group-item list-group-item-action border-0">
      <div class="row"><div class="col-1"></div><i class="bi bi-gear-fill col-1"></i><span class="col">Configuración</span></div>
    </a> -->
  </div>
</div>


<!-- Modal de Añadir nuevo proyecto -->

<!-- <div class="modal fade " id="addNewProjectModal" tabindex="-1" role="dialog" aria-labelledby="addNewProjectModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h3 class="modal-title text-white" id="addNewProjectModalLabel">Añadir nuevo proyecto</h3>
        <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close">
          <h3 class="bi bi-x text-white"></h3>
        </button>

      </div>
      <div class="modal-body">
        <add-project></add-project>
      </div>

    </div>
  </div>
</div> -->




<!-- Modal de Añadir nuevo miembro -->

<!-- <div class="modal fade " id="addNewMemberModal" tabindex="-1" role="dialog" aria-labelledby="addNewMemberModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h3 class="modal-title text-white" id="addNewMemberModalLabel">Añadir usuario al equipo</h3>
        <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close">
          <h3 class="bi bi-x text-white"></h3>
        </button>

      </div>
      <div class="modal-body">
        <add-user [team]="team"></add-user>
      </div>

    </div>
  </div>
</div> -->
