<div class="h-100 main-container bg-dark">
  <div class="container" id="mainContainer">
    <div class="row">
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action-active border-0">
            <div class="row"><i class="bi bi-grid-1x2-fill col-1"></i><span class="col">Inicio</span></div>
          </a>
          <a href="#" class="list-group-item list-group-item-action border-0">
            <div class="row"><i class="bi bi-calendar2-range col-1"></i><span class="col">Tableros</span></div>
          </a>
        </div>
        <div class="list-group-item list-group-item-action-disabled border-0">
          <div class="row"><span class="col-9">Equipos de Trabajo</span><button class="btn p-0 border-0"><i
                class="bi bi-plus-circle col"></i></button></div>
        </div>


        <!-- Plantilla Ejemplo Equipo -->

        <div class="list-group">
          <div>
            <button class="list-group-item list-group-item-action border-0" type="button" data-toggle="collapse"
              data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Merge It
              <i class="bi bi-caret-down-fill col-1"></i>
              <i class="bi bi-caret-up-fill col-1"></i>
            </button>
            <div class="collapse" id="collapseExample">
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-info-circle-fill col-1"></i><span
                    class="col">Información</span>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-calendar2-range col-1"></i><span class="col">Tableros</span>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-people-fill col-1"></i><span class="col">Miembros</span>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-gear-fill col-1"></i><span class="col">Configuración</span>
                </div>
              </a>
            </div>
          </div>
          <div>
            <button class="list-group-item list-group-item-action border-0" type="button" data-toggle="collapse"
              data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Merge It
              <i class="bi bi-caret-down-fill col-1"></i>
              <i class="bi bi-caret-up-fill col-1"></i>
            </button>
            <div class="collapse" id="collapseExample">
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-info-circle-fill col-1"></i><span
                    class="col">Información</span>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-calendar2-range col-1"></i><span class="col">Tableros</span>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-people-fill col-1"></i><span class="col">Miembros</span>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-gear-fill col-1"></i><span class="col">Configuración</span>
                </div>
              </a>
            </div>
          </div>
          <div>
            <button class="list-group-item list-group-item-action border-0" type="button" data-toggle="collapse"
              data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Merge It
              <i class="bi bi-caret-down-fill col-1"></i>
              <i class="bi bi-caret-up-fill col-1"></i>
            </button>
            <div class="collapse" id="collapseExample">
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-info-circle-fill col-1"></i><span
                    class="col">Información</span>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-calendar2-range col-1"></i><span class="col">Tableros</span>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-people-fill col-1"></i><span class="col">Miembros</span>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-gear-fill col-1"></i><span class="col">Configuración</span>
                </div>
              </a>
            </div>
          </div>
          <div>
            <button class="list-group-item list-group-item-action border-0" type="button" data-toggle="collapse"
              data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Merge It
              <i class="bi bi-caret-down-fill col-1"></i>
              <i class="bi bi-caret-up-fill col-1"></i>
            </button>
            <div class="collapse" id="collapseExample">
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-info-circle-fill col-1"></i><span
                    class="col">Información</span>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-calendar2-range col-1"></i><span class="col">Tableros</span>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-people-fill col-1"></i><span class="col">Miembros</span>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action border-0">
                <div class="row">
                  <div class="col-1"></div><i class="bi bi-gear-fill col-1"></i><span class="col">Configuración</span>
                </div>
              </a>
            </div>
          </div>
        </div>



      </div>
      <div class="col-sm" id="data">

      </div>
    </div>
  </div>
</div>